# Ignorar dependencias locales y logs
node_modules
npm-debug.log

# Ignorar la carpeta de salida de la compilación y el caché de TS
.tsbuildinfo

# Ignorar variables de entorno locales (¡MUY IMPORTANTE!)
.env

# Ignorar archivos de configuración de Docker y Git
Dockerfile
.dockerignore
.git
.gitignore